include hubcheck/profiles/firefox/xpi/*.xpi
include hubcheck/data/*
include hubcheck/data/capacitor_voltage/*
include hubcheck/data/hppt/*
include hubcheck/data/hutt/*
include hubcheck/data/images/*
include hubcheck/data/uploads/*
include hubcheck/data/workspace/*
